{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "rules":{
    "linebreak-style": 0,
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-unused-expressions": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}